{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'user/css/registration.css'  %}" />
    <link rel="stylesheet" href="{% static 'main/css/main.css'  %}" />
    <title>{% block title %} MyMDB {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-header">
        <a href="{% url 'main:movie-list' %}"><h1 class="logo">MyMDB</h1></a>
        <ul class="links">
          <li><a href="{% url 'main:movie-list' %}">Movies</a></li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
