{% extends "base.html" %}
<title>{% block title %} {{movie.title}}-{{block.super}} {%endblock %}</title>
{% block content %}
<article class="detail">
  <div class="main">
    <h1>{{movie}}</h1>
    <p>{{movie.plot}}</p>
  </div>
  <div class="side">
    <div>
      <p>This movie is rated:</p>
      <span>{{movie.get_rating_display}}</span>
    </div>
    <div class="score">
      <p>score: {{movie.score|default_if_none:"TBD"}}</p>
    </div>

    <div class="vote">
      {% if vote_form %}
      <form action="{{vote_form_url}}" method="POST">
        {% csrf_token %} {{vote_form.as_p}}
        <button class="btn">Vote</button>
      </form>
      {% else %}
      <p>Log in to vote for this movie</p>
      {% endif %}
    </div>
  </div>
</article>
{% endblock %}
