{% extends "base.html" %}
<title>{% block title %} {{movie.title}}-{{block.super}} {%endblock %}</title>
{% block content %}
<article class="detail">
  <div class="main">
    <h1>{{movie}}</h1>
    <p>{{movie.plot}}</p>
  </div>
  <div class="side">
    <p>This movie is rated:</p>
    <span>{{movie.get_rating_display}}</span>
    <div class="detail-vote">
      {% if vote_form %}
      <form action="{{vote_form_url}}" method="POST">
        {% csrf_token %} {{vote_form.as_p}}
      </form>
      {% else %}
      <p>Log in to vote for this movie</p>
      {% endif %}
    </div>
  </div>
</article>
{% endblock %}
